:root {
  --baltic-sea-color: #1e1d24;
  --malachite-color: #38ef7d;
  --dodger-blue-color: #339dff;
}

body {
  background-color: var(--baltic-sea-color);
  color: white;
  font-family: "Roboto", sans-serif;
}

main {
  height: 100vh;
  gap: 30px;
}

h1 {
  font-size: 48px;
}

form {
  gap: 15px;
  min-width: 350px;
}

input[type="text"] {
  border: 2px;
  border-radius: 3px;
  padding: 6px;
  font-size: 1rem;
  width: 300px;
}

input[type="submit"] {
  font-size: 1rem;
  padding: 6px;
  font-weight: 600;
  background-color: white;
  border-radius: 3px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

small {
  font-size: 14px;
  color: rgb(240, 56, 56);
}

.display-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.label-as-button {
  padding: 6px;
  background-color: #38ef7d;
  color: #1e1d24;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
}

.label-as-button:hover {
  border: 1px solid white;
  cursor: pointer;
}

.input-submit {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  width: 100%;
}

.btn-submit {
  padding: 6px;
  width: 100%;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: var(--dodger-blue-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.btn-submit:hover {
  background: var(--dodger-blue-color);
  color: white;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1.2rem 0;
  gap: 25px;
}

.img-result {
  height: auto;
  width: 350px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: var(--malachite-color);
  text-decoration: underline;
  cursor: pointer;
}

.instruction {
  font-size: 14px;
  text-align: center;
  margin-top: 6px;
}

.img-waiting {
  height: auto;
  width: 60px;
}
