{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload de Imagem com Django REST Framework</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'app/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>

<body>
    <main class="display-column-center">
        <div>
            <h1>Detector de Gatos</h1>
            <p class="instruction">Selecione uma imagem que contenha gatos</p>
        </div>

        <form id="form" class="display-column-center" autocomplete="off" onsubmit="return false;">
            {% csrf_token %}
            <div class="form-input">
                <!-- <input type="text" placeholder="Nome da imagem" name="descricao" id="descricao" maxlength="60" required> -->

                <div>
                    <!-- <label for="imagem" class="label-as-button">Carregar imagem</label> -->
                    <input type="file" name="imagem" id="imagem" accept="image/png, image/jpeg" required>
                </div>
            </div>
            <div class="input-submit">
                <input type="submit" class="btn-submit" id="submit">
            </div>
            <small id="mensagemErro"></small>
        </form>
        <img id="imagemWaiting" class="img-waiting"
            src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/35771931234507.564a1d2403b3a.gif">
        <img id="imagemFromServer" class="img-result">
        <a href="" id="linkImagemFromServer" target="_blank" class="link"></a>
    </main>
    <footer>
        <p>Stévillis Sousa</p>
        <ul class="social-network">
            <li>
                <a href="https://www.linkedin.com/in/stevillis/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
                <a href="https://github.com/stevillis" target="_blank"><i class="fab fa-github"></i></a>
            </li>
        </ul>
    </footer>

    <script src="{% static 'app/js/script.js' %}" defer></script>
</body>

</html>